ng-include(src="'/partials/common/memory_header.html'")
.memories_add_mention.container
  .well
    a.btn.btn-primary.pull-right(ng-click='saveChanges()') Save Changes
    a(href='/events/{{item.id}}') &lt;&lt; Back
    | &nbsp; | Associate To: {{event.title || person.name}}
  h3 Associated memories
  .main_list.list-group.compact-list
    .list-group-item(ng-repeat='memory in associatedMemories')
      .col-xs-4.col-md-1
        a.btn.btn-default.btn-xs.edit(ng-click='unAssociateMemory(memory.id, memory, $index)') Unassociate 
      a.col-xs-6.col-md-11(ng-href='/memories/{{memory.id}}')
        {{memory.date | localDate}}
        &nbsp; &dash; &nbsp;
        {{memory.title}}         
  h3 Available memories
  .main_list.list-group.compact-list
    .list-group-item(ng-repeat='memory in availableMemories')
      .col-xs-4.col-md-1
        a.btn.btn-default.btn-xs.edit(ng-click='associateMemory(memory.id, memory, $index)') Associate 
      a.col-xs-6.col-md-11(ng-href='/memories/{{memory.id}}')
        {{memory.date | localDate}}
        &nbsp; &dash; &nbsp;
        {{memory.title}}         
  a.btn.btn-primary.pull-right(ng-click='saveChanges()') Save Changes
