ng-include(src="'/partials/common/memory_header.html'")
.memories_form.container
  .error {{error}}
  .panel.panel-default
    .panel-heading
      h4.panel-title {{title}}
    form.panel-body.form-horizontal(role='form')
      .form-group(ng-if='!!event')
        label.col-xs-4.col-sm-2.control-label Event
        .col-xs-8.col-sm-10.form-label {{event.title}}
      .form-group(ng-if='!!parentMemory')
        label.col-xs-4.col-sm-2.control-label Parent Memory
        .col-xs-8.col-sm-10.form-label {{parentMemory.title}}
      .form-group
        label.col-xs-4.col-sm-2.control-label Categories
        .col-xs-8.col-sm-10
          select(ng-model='item.categories', selectize="stringsWithCreate", multiple)
            option(ng-repeat='category in allCategories', value='{{category}}', ng-selected="{{item.categories.indexOf(category) >= 0}}") {{category}}
      .form-group
        label.col-xs-4.col-sm-2.control-label Associated People
        .col-xs-8.col-sm-10
          select(ng-model='item.people', multiple, selectize="objectsWithIdName")
            option(ng-repeat='person in allPeople', value='{{person.id}}', ng-selected="{{item.people.indexOf(person.id) >= 0}}") {{person.name}}
      .form-group
        label.col-xs-4.col-sm-2.control-label Title
        .col-xs-8.col-sm-10
          input.form-control(type='text', placeholder='Title', ng-model='item.title')
      .form-group
        label.col-xs-4.col-sm-2.control-label Date
        .col-xs-8.col-sm-10
          input.form-control(pickadate, type='text', placeholder='Date', ng-model='item.date', date-format='')
      .form-group
        label.col-xs-4.col-sm-2.control-label Content
        .col-xs-8.col-sm-10
          textarea.form-control(autoresize, type='text', ng-model='item.content')
      button.btn.btn-default(ng-click="onSubmit()") Submit
