ng-include(src="'/partials/common/memory_header.html'")
.memories_index.container.index_page
  .new.row
    a.btn.btn-primary.col-xs-12.add_transaction(ng-href='/memories/new') Add Memory

  .month-nav.row.well.wells-sm
    a.col-xs-3.prev_month(ng-click='prevMonth()', href='#') &lt;&lt; Prev
    span.col-xs-6.current_month {{currentDate | amDateFormat:'MMMM, YYYY'}}
    a.col-xs-3.next_month(ng-click='nextMonth()', href='#') Next &gt;&gt;

  .main_list.list-group   
    .list-group-item.row.header
      .date.col-xs-3 Date
      .payee.col-xs-9 Summary
    a.list-group-item.fixed-row(ng-href='/memories/{{item.id}}', ng-repeat='item in items')
      .icons.col-90
        i.fa.fa-sun-o.fa-fw.fa-sr
        span {{item.date | amDateFormat:'DD' }}
      .payee.rest-90 {{item.title}}