ng-include(src="'/partials/common/memory_header.html'")
.accounts_show.container
  .panel.panel-default
    .panel-heading
      h4.panel-title Memory Details
    .panel-body
      table.table.table-hover.no-header
        tr
          td.col-xs-4 Title
          td.col-xs-6 {{item.title}}
        tr
          td.col-xs-4 Date
          td.col-xs-6 {{item.event_date | localDate}}
        tr
          td.col-xs-4 Categories
          td.col-xs-6 {{categories}}

        tr
          td.col-xs-12(colspan='2') {{item.content}}

  .row.form_area
    .col-xs-3.col-xs-offset-3
      a.btn.btn-primary.form-control.edit(ng-href='/memories/{{item.id}}/edit') Edit
    .col-xs-3
      a.btn.btn-primary.form-control.delete(ng-href='/memories/{{item.id}}/delete') Delete