ng-include(src="'/partials/common/memory_header.html'")
.journal_index.container
  .main_list.list-group   
    div(ng-repeat='date in dates') 
      .list-group-item.row.header
        b {{date}}
      .list-group-item.fixed-row(ng-repeat='itemMeta in items[date]', ng-href="/{{itemMeta.type}}/{{item.id}}", ng-class="itemMeta.type", ng-init="item = itemMeta.data") 
        ng-include(src="'/partials/' + itemMeta.type + '/itemSmall.html'")
