ng-include(src="'/partials/common/memory_header.html'")
.journal_index.container.index_page.container
  .month-nav.row.well.wells-sm
    a.col-xs-3.prev_month(ng-click='prevMonth()', href='#') &lt;&lt; Prev
    span.col-xs-6.current_month {{currentDate | amDateFormat:'MMMM, YYYY'}}
    a.col-xs-3.next_month(ng-click='nextMonth()', href='#') Next &gt;&gt;
    
  .main_list.list-group.compact-list.row
    div(ng-repeat='date in dates').col-xs-12
      .list-group-item.row.header
        b {{date}}
      a.list-group-item.fixed-row(ng-repeat='itemMeta in items[date]', ng-href="/{{itemMeta.type}}/{{item.id}}", ng-class="itemMeta.type", ng-init="item = itemMeta.data") 
        ng-include(src="'/partials/' + itemMeta.type + '/itemSmall.html'")
