ng-include(src="'/partials/common/finance_header.html'")
.container
  h2 More Actions:
  hr/
  a.btn.btn-primary(href='/misc/import') Import Line Items
  br/
  br/
  a.btn.btn-primary(href='/misc/categories') Categories
  br/
  br/
  a.btn.btn-primary(href='/misc/payees') Payees
  br/
  br/
  a.btn.btn-primary(href='/misc/processingRules') Processing Rules
  br/
  br/
  a.btn.btn-primary(href='/misc/importedLines') Imported Lines
  br/
  br/