.reports_index
  .table-responsive
    table.table.table-condensed
      thead
        th Category
        th 
          a(ng-href='/line_items/?month=12/2012') Dec
      tbody
        tr
          td 
            a(ng-href='/reports/2012/Groceries') Groceries
          td 
            a(ng-href='/line_items/?month=12/2012&cateogry=Groceries') $200

