ng-include(src="'/partials/common/memory_header.html'")
.event_show.container.show_page
  .panel.panel-default.row
    .panel-heading
      .btns-parent.pull-right
        a.btn.btn-default.btn-sm.edit(ng-href='/events/{{item.id}}/edit?returnto={{currentLocation}}') Edit  
        a.btn.btn-default.btn-sm.delete(ng-href='/events/{{item.id}}/delete') Delete
      h4.panel-title
        |Event Details
    .panel-body.as-prop-columns.col-xs-12
      .row
        .left-pane Title
        .right-pane {{item.title}}
      .row
        .left-pane Date
        .right-pane {{item.date | localDate}}
      .row
        .left-pane Categories
        .right-pane {{item.categories | joinBy}}
      .row
        .left-pane Participants
        .right-pane 
          a(ng-repeat='person in participants', ng-href='/people/{{person.id}}')
            {{person.name}}{{$last ? '' : ', '}}
      .row
        td.col-xs-12(colspan='2') {{item.content}}
  
  a.btn.btn-primary.pull-right(ng-href='/memories/new?eventId={{item.id}}&returnto={{currentLocation}}') Add
  h3 Associated memories
  .list-group
    a.list-group-item.fixed-row(ng-repeat='item in associatedMemories', ng-href="/memories/{{item.id}}")
      span(ng-include="'/partials/memories/itemSmall.html'")      

  a.btn.btn-primary.pull-right(ng-href='/memories/addMention?eventId={{item.id}}') Add
  h3 Mentioned memories
  .list-group
    a.list-group-item.fixed-row(ng-repeat='item in mentionedMemories', ng-href="/memories/{{item.id}}")
      span(ng-include="'/partials/memories/itemSmall.html'")      