ng-include(src="'/partials/common/finance_header.html'")
.budgets_form.container
  h2 {{title}}
  ng-include(src="'/partials/budgets/_form.html'")
  button.btn.btn-default(ng-click="onSubmit()") Submit