.processing_rules_form
  .panel.panel-default
    .panel-heading
      h4.panel-title Edit
  form.panel-body.form_inline(role='form')
    h4 Matching
    .form-group
      input.form-control(type='text', placeholder='Payee')
    .form-group
      input.form-control(type='text', placeholder='Amount')
    h4 Assign
    .form-group
      input.form-control(type='text', placeholder='Category')
    .form-group
      input.form-control(type='text', placeholder='Payee')
    a.btn.btn-default(ng-href="/processing_rules") Submit
