.error {{error}}
.panel.panel-default(ng-show='accounts.length > 0')
  form.panel-body.form-horizontal(role='form')
    .form-group
      label.col-xs-4.col-sm-2.control-label Account
      .col-xs-8.col-sm-10
        select.form-control(ng-model='item.accountId', ng-options="account.id as account.name for account in accounts")
    .form-group
      label.col-xs-4.col-sm-2.control-label Type
      .col-xs-8.col-sm-10
        label.radio-inline
          input(type='radio', ng-model='item.type', value='Income', type-format='')
          |Income
        label.radio-inline
          input(type='radio', ng-model='item.type', value='Expense', type-format='')
          |Expense
    .form-group
      label.col-xs-4.col-sm-2.control-label Amount
      .col-xs-8.col-sm-10
        input.form-control(type='number', placeholder='Amount', float-to-string, ng-model='item.amount')
    .form-group
      label.col-xs-4.col-sm-2.control-label Date
      .col-xs-8.col-sm-10
        input.form-control(pickadate, type='text', placeholder='Date', ng-model='item.date', date-format='', ng-change='onChangeDate()')
    .form-group
      label.col-xs-4.col-sm-2.control-label Payee
      .col-xs-8.col-sm-10
        input.form-control(type='text', ng-model='item.payeeName', ng-options="payee for payee in allPayees", bs-typeahead)
    .form-group
      label.col-xs-4.col-sm-2.control-label Category
      .col-xs-8.col-sm-10
        input.form-control(type='text', ng-model='item.categoryName', ng-options="category for category in allCategories", bs-typeahead)
    hr/
    .form-group
      label.col-xs-4.col-sm-2.control-label Comment
      .col-xs-8.col-sm-10
        input.form-control(type='text', ng-model='item.comment')
    .form-group
      label.col-xs-4.col-sm-2.control-label Group
      .col-xs-8.col-sm-10
        input.form-control(type='text', ng-model='item.groupedLabel')
    .form-group
      label.col-xs-4.col-sm-2.control-label Tags
      .col-xs-8.col-sm-10
        label.checkbox-inline(ng-repeat='tag in tags')
          input(type='checkbox', class='', checklist-model='item.tags', checklist-value="tag") 
          |{{tag}}
    .form-group(ng-show="type === 'edit'")
      label.col-xs-4.col-sm-2.control-label Original Date
      .col-xs-8.col-sm-10
        input.form-control(pickadate, type='text', placeholder='Date', ng-model='item.originalDate', date-format='')
