.panel.panel-default
  .panel-heading
    h4.panel-title {{title}}
  form.panel-body.form-horizontal(role='form')
    .form-group
      label.col-xs-4.col-sm-3.control-label Cateogry
      .col-xs-8.col-sm-9.form-label {{item.categoryName}}
    .form-group
      label.col-xs-4.col-sm-3.control-label Amount
      .col-xs-8.col-sm-9.form-label {{meta.amount | bnToFixed | currency}}
    .form-group
      label.col-xs-4.col-sm-3.control-label Split Amount
      .col-xs-8.col-sm-9
        input.form-control(type='number', placeholder='Amount', ng-model='meta.newAmount', ng-change="onChangeSplitAmount()")
    .form-group
      label.col-xs-4.col-sm-3.control-label For Category
      .col-xs-8.col-sm-9
        input.form-control(type='text', ng-model='newItem.categoryName', ng-options="category for category in allCategories", bs-typeahead)
    .form-group
      label.col-xs-4.col-sm-3.control-label Amount Left
      .col-xs-8.col-sm-9.form-label {{meta.amountLeft | currency}}