ng-include(src="'/partials/common/finance_header.html'")
.line_item_form.container
  h2 {{title}}
  ng-include(src="'/partials/line_items/_split.html'")
  button.btn.btn-default(ng-click="onSubmit()") Submit