.welcome_page
  .welcome.well
    .content.text-center.
      Welcome to Finance App

    .row
      .col-xs-3.col-xs-offset-3
        a.btn.btn-primary.form-control(ng-href='/login') Login
      .col-xs-3
        a.btn.btn-primary.form-control(ng-href='/register') Register
  