.welcome_page
  .welcome.well
    .content.text-center.
      Welcome to Finance App
    br/
    .row
      .col-xs-3.col-xs-offset-3
        a.btn.btn-primary.form-control(ng-href="/memories/") Memories

      .col-xs-3
        a.btn.btn-primary.form-control(ng-href="/line_items/") Finance
    br/
    br/
    .row
      .col-xs-3.col-xs-offset-3
        a.btn.btn-primary.form-control(ng-href='/login') Login
      .col-xs-3
        a.btn.btn-primary.form-control(ng-href='/register') Register
  