@import "bootstrap/bootstrap.less";

.form_area {
  margin-top: 10px;
}

body {
  nav {
    margin-bottom: 10px;
  }
}

.welcome_page {
  .content {
    margin: 10px 0;
  }
}

.line_items_index {
  .line_items {
    .date {
      float: left;
    }
    .category {
      text-align: center;
      float: left;
    }
    .payee {
      
    }
    .amount {
      float: right;
      text-align: right;
    }
  }
  .btn.add_transaction {
    margin-bottom: 10px;
  }
}

.line_item_form {
  .new {
    margin: 20px 0;
  }
}

.line_item_show {
  .price {
    text-align: left;
    color: #953b39;
    font-size: 24px;
  }
}