nav.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') Finance
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li(ng-class="{active: isActive('line_items')}")
        a(href='/line_items') Line Items
      li(ng-class="{active: isActive('reports')}")
        a(href='/reports') Reports
      li(ng-class="{active: isActive('budgets')}")
        a(href='/budgets') Budgets
      li(ng-class="{active: isActive('other')}")
        a(href='/misc') More Actions
    ul.nav.navbar-nav.navbar-right(ng-if='loggedIn')
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Welcome {{$root.userDetails.firstName}}!
          b.caret
        ul.dropdown-menu
          li
            a(href='/profile') 
              i.fa.fa-cog.fa-fw.fa-sr
              | Profile
          li.divider
          li
            a(href='/logout') 
              i.fa.fa-power-off.fa-fw.fa-sr
              | Logout
    ul.nav.navbar-nav.navbar-right(ng-if='!loggedIn')
      a.btn.navbar-btn.btn-social.btn-google-plus(href="", ng-href="{{loginUrl}}")
        i.fa.fa-google
        |Sign in with Google
div.alert.alert-success(ng-if="successMsg && successMsg.length > 0")
  span.fa-stack.fa-lg
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-check.fa-stack-1x.fa-inverse
  |&nbsp;
  span {{$root.successMsg}}
div.alert.alert-danger(ng-if="errorMsg && errorMsg.length > 0")
  span.fa-stack.fa-lg
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-times.fa-stack-1x.fa-inverse
  |&nbsp;
  span {{$root.errorMsg}}
