ng-include(src="'/partials/common/logged_out_header.html'")
.login_page.container
  .alert.alert-danger(ng-if='error')
    {{error}}
  .row
    .col-xs-12.col-md-6.col-md-offset-3    
      .panel.panel-default
        .panel-heading
          h4.panel-title Login
        form.panel-body.form_inline(role='form')
          .form-group
            input.form-control(type='text', ng-model='user.email', placeholder='E-Mail')
          .form-group
            input.form-control(type='password', ng-model="user.password", placeholder='Password')
          btn.btn.btn-default(ng-click="login()") Submit
          br/
          br/
          span Don't have an account? 
            a(href="/register") Register

  .row
    .col-xs-12.col-md-6.col-md-offset-3
      .well
        .btn-group
          a.btn.btn-block.btn-social.btn-google-plus(href="", ng-click="loginOauth('google')")
            i.fa.fa-google-plus 
            |Sign in with Google
      