ng-include(src="'/partials/common/logged_out_header.html'")
.login_page.container
  .panel.panel-default
    .panel-heading
      h4.panel-title Login
    form.panel-body.form_inline(role='form')
      .form-group
        input.form-control(type='text', placeholder='Username')
      .form-group
        input.form-control(type='text', placeholder='Password')
      a.btn.btn-default(ng-href="/line_items/") Submit

  .btn-group
    a.btn.btn-block.btn-social.btn-google-plus(href="", ng-click="loginOauth('google')")
      i.fa.fa-google-plus 
      |Sign in with Google
      