ng-include(src="'/partials/common/memory_header.html'")
.categories_index.container
  .main_list.list-group.compact-list.row
    div(ng-repeat='category in categories').col-xs-12
      .list-group-item.header.row
        .btns-parent.pull-right
          a.btn.btn-default.btn-xs(ng-href='/memories/new?category={{category}}&returnto={{currentLocation}}') +Memory
        b {{category}}
      a.list-group-item.fixed-row(ng-repeat='itemMeta in categoryData[category]', ng-class="itemMeta.type", ng-href="/{{itemMeta.type}}/{{item.id}}", ng-init="item = itemMeta.data") 
        ng-include(src="'/partials/' + itemMeta.type + '/itemSmall.html'")
