ng-include(src="'/partials/common/memory_header.html'")
.categories_index.container
  .main_list.list-group   
    div(ng-repeat='category in categories') 
      .list-group-item.row.header
        .btns-parent.pull-right
          a.btn.btn-default.btn-xs(ng-href='/memories/new?category={{category}}&returnto=categories') +Memory
        b {{category}}
      a.list-group-item.fixed-row.row(ng-repeat='itemMeta in categoryData[category]', ng-class="itemMeta.type", ng-href="/{{itemMeta.type}}/{{item.id}}", ng-init="item = itemMeta.data") 
        ng-include(src="'/partials/' + itemMeta.type + '/itemSmall.html'")
