nav.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    a.navbar-brand(href='/') FinanceNg
  .collapse.navbar-collapse
    ul.nav.navbar-nav