nav.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    a.navbar-brand(href='/') FinanceNg
  .collapse.navbar-collapse
    ul.nav.navbar-nav

div.alert.alert-success(ng-if="successMsg && successMsg.length > 0")
  span.fa-stack.fa-lg
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-check.fa-stack-1x.fa-inverse
  |&nbsp;
  span {{$root.successMsg}}

div.alert.alert-warning(ng-if="noticeMsg && noticeMsg.length > 0")
  span.fa-stack.fa-lg
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-exclamation.fa-stack-1x.fa-inverse
  |&nbsp;
  span {{$root.noticeMsg}}
