nav.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') Memory
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href='/memories') Memories
      li.active
        a(href='/people') People
      li
        a(href='/events') Events