ng-include(src="'/partials/common/memory_header.html'")
.people_show.container.show_page
  .panel.panel-default.row
    .panel-heading
      .btns-parent.pull-right
        a.btn.btn-default.btn-sm.edit(ng-href='/people/{{item.id}}/edit') Edit  
        a.btn.btn-default.btn-sm.delete(ng-href='/people/{{item.id}}/delete') Delete
      h4.panel-title Person Details
    .panel-body.as-prop-columns.col-xs-12
      .row
        .left-pane Name
        .right-pane {{item.name}}
      .row
        .left-pane Categories
        .right-pane {{item.categories | joinBy}}
      .row
        td.col-xs-12(colspan='2') {{item.comments}}

  a.btn.btn-primary.pull-right(ng-href='/memories/new?personId={{item.id}}&returnto={{currentLocation}}') Add
  h3 Memories:
  .list-group
    a.list-group-item.fixed-row.row(ng-repeat='item in memories', ng-href="/memories/{{item.id}}")
      span(ng-include="'/partials/memories/itemSmall.html'")

  a.btn.btn-primary.pull-right(ng-href='/events/new?personId={{item.id}}&returnto={{currentLocation}}') Add
  h3 Events:
  .list-group
    a.list-group-item.fixed-row(ng-repeat='item in events', ng-href="/events/{{item.id}}")
      span(ng-include="'/partials/events/itemSmall.html'")
