ng-include(src="'/partials/common/finance_header.html'")
.reports_index.index_page.container
  .month-nav.row.well.well-sm
    a.col-xs-3.prev_month(ng-click='prevYear()', href='#') &lt;&lt; Prev
    span.col-xs-6.current_month {{currentYear}}
    a.col-xs-3.next_month(ng-click='nextYear()', href='#') Next &gt;&gt;

  table.table.table-striped.table-bordered.table-condensed.report_table.row
    thead
      tr
        th.name Category Name
        th.date(ng-repeat='month in months')
          span {{month}}
        th.avg Avarage
        th.total Total
        th.percent Percent
    tbody(ng-repeat='section in report.reportSections')
      tr.section-row
        td.section_name(colspan="16")
          {{section.name}}
      tr.item-row(ng-repeat='category in section.rootCategories')
        td
          a(href='/reports/{{currentYear}}/categories/{{category.name}}')
            {{category.name}}
        td(ng-repeat='column in category.monthlyTotals')
          a(href='/line_items/{{currentYear}}/{{$index+1}}?categories={{category.categories | encodeUri}}', target='_blank')
            {{column.total | currency}}
        td
          {{category.avg | currency}}
        td
          {{category.total | currency}}
        td
          {{category.percent | percent}}
    tbody
      tr.total(ng-repeat='section in report.reportSections')
        td.total
          |Total {{section.name}}
        td(ng-repeat='column in section.monthlyTotals')
          currency-with-sign(amount='column.total | bnToFixed')
        td
          currency-with-sign(amount='section.totalAvg | bnToFixed')
        td
          currency-with-sign(amount='section.totalSum | bnToFixed')
        td 
          {{section.totalPercent | percent}}
      tr.total
        td Total
        td.total(ng-repeat='column in report.reportTotals.monthly')
          currency-with-sign(amount='column | bnToFixed')
        td
          currency-with-sign(amount='report.reportTotals.avg | bnToFixed')
        td
          currency-with-sign(amount='report.reportTotals.sum | bnToFixed')
        td
          {{report.reportTotals.percent | percent}}