.accounts_index
  .new.row
    a.btn.btn-primary.col-xs-12.add_transaction(ng-href='/accounts/new') Add Account

  .main_list.list-group
    a.list-group-item(ng-href='/accounts/{{item.id}}', ng-repeat='item in accounts')
      {{item.name}}