ng-include(src="'/partials/common/finance_header.html'")
.accounts_index.container
  .new.row
    a.btn.btn-primary.col-xs-12.add_transaction(ng-href='/accounts/new') Add Account

  .main_list.list-group
    a.list-group-item.row(ng-href='/accounts/{{item.id}}', ng-repeat='item in accounts')
      .col-xs-12
        {{item.name}}