.line_item_show
  .row
    a.btn.btn-primary.col-xs-6.add_transaction(ng-href='/line_items/edit') Edit
    a.btn.btn-primary.col-xs-6.add_transaction(ng-href='/line_items/1') Delete
  .row
    .col-xs-6
      span Groceries
      span McDonnals
    .col-xs-6
      $120