ng-include(src="'/partials/common/finance_header.html'")
.line_item_form.container
  .error {{error}}
  .panel.panel-default
    .panel-heading
      h4.panel-title {{title}}
    form.panel-body.form-horizontal(role='form')
      .form-group
        label.col-xs-4.col-sm-2.control-label Account
        .col-xs-8.col-sm-10
          select.form-control(ng-model='item.account_id', ng-options="account.id as account.name for account in accounts")
      .form-group
        label.col-xs-4.col-sm-2.control-label Type
        .col-xs-8.col-sm-10
          label.radio-inline
            input(type='radio', ng-model='item.type', value='Income', type-format='')
            |Income
          label.radio-inline
            input(type='radio', ng-model='item.type', value='Expense', type-format='')
            |Expense
      .form-group
        label.col-xs-4.col-sm-2.control-label Amount
        .col-xs-8.col-sm-10
          input.form-control(type='text', placeholder='Amount', ng-model='item.amount')
      .form-group
        label.col-xs-4.col-sm-2.control-label Date
        .col-xs-8.col-sm-10
          input.form-control(pickadate, type='text', placeholder='Date', ng-model='item.event_date', date-format='')
      .form-group
        label.col-xs-4.col-sm-2.control-label Payee
        .col-xs-8.col-sm-10
          input.form-control(type='text', ng-model='item.payee_name')
      .form-group
        label.col-xs-4.col-sm-2.control-label Category
        .col-xs-8.col-sm-10
          input.form-control(type='text', ng-model='item.category_name', bs-typeahead="allCategories")
      hr/
      .form-group
        label.col-xs-4.col-sm-2.control-label Comment
        .col-xs-8.col-sm-10
          input.form-control(type='text', ng-model='item.comment')
      .form-group
        label.col-xs-4.col-sm-2.control-label Highlight Group
        .col-xs-8.col-sm-10
          input.form-control(type='text', ng-model='item.grouped_label')
      .form-group
        label.col-xs-4.col-sm-2.control-label Tags
        .col-xs-8.col-sm-10
          label.checkbox-inline
            input(type='checkbox', class='', ng-model='item.tags', value="Cash")
            |Cash
          label.checkbox-inline
            input(type='checkbox', class='', ng-model='item.tags', value="Exclude from Reports") 
            |Exclude from Reports
      button.btn.btn-default(ng-click="onSubmit()") Submit
